/__pycache__
/mysite/__pycache__
/mysite/__init__.py
/mysite/settings.py
/mysite/asgi.py
/mysite/wsgi.py

/upsell/__pycache__
/upsell/migrations/
/upsell/__init__.py

/Cafe24_Data.py
/Cafe24_main.py
/chromedriver.exe
/dlehgns011_Access_Token.json
/dlehgns011_Categories.json
/dlehgns011_Product.json

/db.sqlite3
